name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16
    - name: Restore Cache
      uses: actions/cache@v3.0.7
      with:
        path: ~/go/pkg/mod
        key: go-pkg-mod-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-pkg-mod-
    - name: Run build
      run: make build
    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: packer-plugin-amazon-ami-management
        path: packer-plugin-amazon-ami-management
